<h1>List of products</h1>

<table>
  <thead>
    <tr>
      <th>Product</th>
      <th>Price</th>
    </tr>
  </thead>
  <% @products.each do |product| %>
  <tr>
    <td><%= link_to product.title, product %></td>
    <td><%= number_to_currency product.price %></td>
  </tr>
  <% end %>
</table>

<br>

<%= link_to 'Download as .xlsx', products_path(format: :xlsx) %>
